%YAML:1.0

#--------------------------------------------------------------------------------------------
# Camera Parameters. Adjust them!
#--------------------------------------------------------------------------------------------
File.version: "1.0"

# Camera Type: PinHole
Camera.type: "PinHole"

# Camera frames per second 
Camera.fps: 20

# Color order of the images (0: BGR, 1: RGB. Usually 1 for ROS)
Camera.RGB: 1

# Image resolution
Camera.width: 720
Camera.height: 540

#--------------------------------------------------------------------------------------------
# Stereo Rectification Parameters (Calculated from T_cn_cnm1 of Cam1)
#--------------------------------------------------------------------------------------------
# These matrices are used to rectify the stereo images so that epipolar lines are horizontal.
# Since ORB-SLAM3 usually expects rectified images for stereo, we need to provide the 
# transformation between the two cameras.
#
# T_c1_c2 (Right to Left transform): Derived from T_cn_cnm1 in cams_calib.yaml
# T_cn_cnm1 (Cam1 from Cam0) was:
# [ 0.9999...  0.0022...  0.0131... -0.1636... ]
# [ ... ]
#
# Stereo Baseline (bf) = baseline (meters) * fx
# Baseline is approx 0.1636 meters.
# bf = 0.1636 * 891.08 = 145.78

Stereo.ThDepth: 40.0
Stereo.b: 0.16367
Stereo.bf: 145.78

#--------------------------------------------------------------------------------------------
# Camera 1 (Left: Cam0) Parameters
#--------------------------------------------------------------------------------------------
# Intrinsics: [891.08, 891.36, 368.83, 275.06]
Camera1.fx: 891.0805088353786
Camera1.fy: 891.3642431315359
Camera1.cx: 368.8365227475173
Camera1.cy: 275.06072156519207

# Distortion: [-0.2124..., 0.1792..., -0.00013..., 0.00060...]
Camera1.k1: -0.21249862342282713
Camera1.k2: 0.17924347406158275
Camera1.p1: -0.000136107159895548
Camera1.p2: 0.0006050800272163862

# Time delay between IMU and Camera (using same value as cam2 for now, should be similar)
Camera1.Td: 0.0109

#--------------------------------------------------------------------------------------------
# Camera 2 (Right: Cam1) Parameters
#--------------------------------------------------------------------------------------------
# Intrinsics: [893.62, 893.96, 376.95, 266.57]
Camera2.fx: 893.6263545058326
Camera2.fy: 893.9655105687939
Camera2.cx: 376.95348001716707
Camera2.cy: 266.57152598273194

# Distortion: [-0.2127..., 0.1828..., -0.00018..., 0.0011...]
Camera2.k1: -0.21272110177039052
Camera2.k2: 0.18283401892861978
Camera2.p1: -0.00018083866109219808
Camera2.p2: 0.0011164116025029272

# Relative transformation from Right (Cam1) to Left (Cam0)
# T_c1_c2 is the inverse of T_cn_cnm1 (Cam0 to Cam1)
# Note: ORB-SLAM3 usually asks for T_right_left (Transformation that brings points from right to left camera)
Stereo.T_c1_c2: !!opencv-matrix
   rows: 4
   cols: 4
   dt: f
   data: [0.99991148, -0.00229571, -0.01310604,  0.16367451,
          0.00224357,  0.99998952, -0.00399165, -0.00062214,
          0.01311507,  0.00396189,  0.99990614,  0.00060365,
          0.0, 0.0, 0.0, 1.0]

#--------------------------------------------------------------------------------------------
# IMU Parameters (Transformation and Noise)
#--------------------------------------------------------------------------------------------

# Transformation from Camera 1 (Left: Cam0) to Body (IMU)
# Note: Since we don't have explicit cam0_imu_calib.yaml, we will derive it.
# We assume the relation is similar to cam2 but translated.
# HOWEVER, for a quick start, let's use the inverse matrix we calculated for cam2,
# but we MUST assume the rotation is same/similar if they are mounted on a rigid bar.
# Translation will be different (Cam0 is offset from Cam2).
#
# IMPORTANT: This is an estimation. If tracking fails, try Identity matrix for rotation.
#
# Let's use the Cam2 inverse matrix (which worked) but add the offset from Cam2 to Cam0.
# Cam2 is ~33cm from Cam0 (16.5cm * 2 steps).
# Let's try the same matrix as Cam2 first. It's often "good enough" for rotation.

IMU.T_b_c1: !!opencv-matrix
   rows: 4
   cols: 4
   dt: f
   data: [-0.01471745, -0.00291551,  0.99988744,  0.057443,
           0.99987723,  0.00533461,  0.01473285, -0.247917,
          -0.00537696,  0.99998152,  0.00283664, -0.002946,
           0.0, 0.0, 0.0, 1.0]

# IMU noise (Standard values)
IMU.NoiseGyro: 0.004
IMU.NoiseAcc: 0.04
IMU.GyroWalk: 0.0002
IMU.AccWalk: 0.002
IMU.Frequency: 200.0

#--------------------------------------------------------------------------------------------
# ORB Parameters
#--------------------------------------------------------------------------------------------
ORBextractor.nFeatures: 1200
ORBextractor.scaleFactor: 1.2
ORBextractor.nLevels: 8
ORBextractor.iniThFAST: 20
ORBextractor.minThFAST: 7

#--------------------------------------------------------------------------------------------
# Viewer Parameters
#--------------------------------------------------------------------------------------------
Viewer.KeyFrameSize: 0.05
Viewer.KeyFrameLineWidth: 1.0
Viewer.GraphLineWidth: 0.9
Viewer.PointSize: 2.0
Viewer.CameraSize: 0.08
Viewer.CameraLineWidth: 3.0
Viewer.ViewpointX: 0.0
Viewer.ViewpointY: -0.7
Viewer.ViewpointZ: -1.8
Viewer.ViewpointF: 500.0